html, body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }
  
  #calendar {
    max-width: 900px;
    margin: 40px auto;
  }

.header-area {
  position: relative!important;
}

.imgLeyenda {
  height: 20px;
  width: 20px;
}

.fc-title {
  background-color: transparent;
  color: dimgray;
  font-size: 2em;
  border: 0px none transparent;
}

.fc-event {
  background-color: transparent;
}

.leyenda {
  margin: 10px;
  background-color: #0000008a;
  margin-top: 37%;
  margin-left: 22%;
  color: white;
  width: 100%;
}

main {
  background-image: url(/../img/imgBg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.panel-body {
  background-color: #d79c62;
}