#ArchiveList .toggle {
	cursor: pointer;
	font-family: Arial, sans-serif;
}

#ArchiveList .toggle-open {
	_font-size: 1.7em;
	line-height: .6em;
}

#ArchiveList {
	text-align: left;
}

#ArchiveList a.post-count-link,
#ArchiveList a.post-count-link::link,
#ArchiveList a.post-count-link::visited {
	text-decoration: none;
}

#ArchiveList a.toggle,
#ArchiveList a.toggle::link,
#ArchiveList a.toggle::visited,
#ArchiveList a.toggle::hover {
	color: inherit;
	text-decoration: none;
}

.BlogArchive #ArchiveList ul li {
	background: none;
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	border-width: 0;
	padding-left: 15px;
	text-indent: -15px;
	margin: .25em 0;
	background-image: none;
}

.BlogArchive #ArchiveList ul ul li {
	padding-left: 1.2em;
}

.BlogArchive #ArchiveList ul {
	list-style: none;
	list-style-image: none;
	border-width: 0;
}

.BlogArchive #ArchiveList ul.posts li {
	padding-left: 1.3em;
}

#ArchiveList .collapsed ul {
	display: none;
}

.BlogArchive {
        padding: 50px 25px 50px;
        background: #faf5f0;
        margin-top: -400px;
}

@media (max-width: 991px) {
    .BlogArchive {
        margin-top: -83%;
    }
}

@media (max-width: 767px) {
    .BlogArchive {
        margin-top: 0;
    }
}
